<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/home.css">

</head>
<body>
    <div id="navbar">
        <div> 
            <a href="" class="user_profile"><img src="../static/final_cg_logo.png" alt="User"></a>
        </div>
        <div>
            <a href="/template/login.html">Logout</a>
            <a href="">Contact</a>
            <a href="">About</a>
            <a href="/template/Home.html">Home</a>
        </div>        
    </div>

    <div class="container">
        
        <div>
            <div class="logo_div">
                <h1>C      I      V      I      C</h1> <img src="../static/final_cg_logo.png" class="logo" height="100" width="100"> <h1>G      U      A      R      D</h1>
            </div>
            <table>
                <tr>
                    <th><a href="/template/user_profile.html"><input type="button" value="User Profile" name="uprofile_btn"></a></th>
                </tr>
                <tr>
                    <th><a href="/template/EditProfile.html"><input type="button" value="Edit Profile" name="editprofile_btn"></a></th>
                </tr>
                <tr>
                    <th><a href="/template/complaint_select.html"><input type="button" value="Complaint Register" name="cregister_btn"></a></th>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>