<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/start.css">

</head>

<body>
    <img src="../static/final_cg_logo.png" class="logo" height="100" width="100">

    <div class="div2">
        <h1>LOGIN PAGE</h1><br><br>
        <a href="/template/login.html">
            <input type="button" value="Post your complaint" name="user_btn">
        </a>
        <a href="/complaint_list">
            <input type="button" value="View the Complaint" name="comManage_btn">
        </a>
    </div>

</body>

</html>